{% extends "base.html" %} 
{% block title %}Matches{% endblock %} 

{% block content %}

    <h1>Matches</h1>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Season</th>
                <th scope="col">Match Date </th>
                <th scope="col">Player 1</th>
                <th scope="col">Player 1 Score</th>
                <th scope="col">Player 2</th>
                <th scope="col">Player 2 Score</th>
                <th scope="col">Complete</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ seasons[match.season] }}</td>
                <td>{{ match.date.date() }}</td>
                <td>{{ players[match.player1] }}</td>
                <td>{{ match.player1_score }}</td>
                <td>{{ players[match.player2] }}</td>
                <td>{{ match.player2_score }}</td>
                <td>{{ match.completed }}</td>

                <td>
                    <form method="POST"
                        action="{{ url_for('views.delete_match', match_id=match.id) }}">
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete"
                            onclick="return confirm('Are you sure you want to delete this match?')">
                    </form>
                </td>
                <td>
                  {% if match.completed == False %}
                    <form method="POST"
                        action="{{ url_for('views.complete_match', match_id=match.id) }}">
                        <input type="submit" class="btn btn-sm btn-success" value="Complete"
                            onclick="return confirm('Are you sure you want to complete this match?')">
                    </form>
                </td>
                <td>
                    <form method="POST"
                        action="{{ url_for('views.score_keeper') }}">
                        <input type="submit" class="btn btn-sm btn-success" value="Score Keeper">
                    </form>
                  {% else %}
                    <form method="POST"
                        action="{{ url_for('views.open_match', match_id=match.id) }}">
                        <input type="submit" class="btn btn-sm btn-warning" value="Re-Open"
                            onclick="return confirm('Are you sure you want to re-open this match?')">
                    </form>
                    <!-- A button which will open up the score-board.html page with this matches rounds loaded.-->
                    <td>
                    <form method="POST"
                        action="{{ url_for('views.previous_rounds', match_id=match.id) }}">
                        <input type="submit" class="btn btn-sm btn-success" value="Score Board">
                    </form>
                    </td>
                  {% endif %}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<form method = "POST">

    <div class="form-group">

      <label for="seasonSelect">Select Season:</label>
        <select class="form-control" id="seasonSelect" name="seasonSelect">
            {% for season in openSeasons %}
            <option value="{{ season.id }}">{{ season.name }} </option>
            {% endfor %}
        </select>

      <label for="playerSelect1">Select Player 1:</label>
      <select class="form-control" id="player1Select" name="player1Select">
        {% for player in allPlayers %}
          <option value="{{ player.id }}">{{ player.first_name }} </option>
        {% endfor %}
      </select>

      <label for="playerSelect2">Select Player 2:</label>
      <select class="form-control" id="player2Select" name="player2Select">
        {% for player in allPlayers %}
          <option value="{{ player.id }}">{{ player.first_name }} </option>
        {% endfor %}
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Create New Match</button>
  </form>


    
{% endblock %}