{% extends "base.html" %} 
{% block title %}Matches{% endblock %} 

{% block content %}

    <h1>Matches</h1>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Season</th>
                <th scope="col">Match Date </th>
                <th scope="col">Player 1</th>
                <th scope="col">Player 1 Score</th>
                <th scope="col">Player 2</th>
                <th scope="col">Player 2 Score</th>
                <th scope="col">Rounds</th>
                <th scope="col">Complete</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.season_id }}</td>
                <td>{{ match.date.date() }}</td>
                <td>{{ match.player1.first_name }}</td>
                <td>{{ match.player1_score }}</td>
                <td>{{ match.player2.first_name }}</td>
                <td>{{ match.player2_score }}</td>
                <td>{{ match.rounds.count() }}</td>
                <td>{{ match.completed }}</td>

                <td>
                    <form method="POST"
                        action="{{ url_for('views.delete_season', season_id=season.id) }}">
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete"
                            onclick="return confirm('Are you sure you want to delete this season?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<form>
  
</form>


    
{% endblock %}