{% extends "base.html" %} 
{% block title %}Score Board{% endblock %}

{% block content %}

<div class="mx-auto" style="width: 500px;">

   <h1>{{ players[match.player1] }} VS {{ players[match.player2] }}</h1>

</div>


<div class="container-xxl">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rounds</th>
            <th scope="col">Total</th>
            {% for round in rounds %}
            <th scope="col">{{ round.id }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>{{ players[match.player1] }}</td>
            <td>{{ player1_total }}</td>
            {% for round in rounds %}
            <td>{{ round.player1_score }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ players[match.player2] }}</td>
            <td>{{ player2_total }}</td>
            {% for round in rounds %}
            <td>{{ round.player2_score }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
      setInterval(function() {
        location.reload();
      }, 15000);
    });
  </script>

{% endblock %}