{% extends "base.html" %} 
{% block title %}Seasons{% endblock %} 

{% block content %}

    <h1>Seasons</h1>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date </th>
                <th scope="col">End Date</th>
                <th scope="col">Closed</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr>
                <td>{{ season.name }}</td>
                <td>{{ season.start_date }}</td>
                <td>{{ season.end_date }}</td>
                <td>{{ season.closed }}</td>
                <td>
                    <form method="POST"
                        action="{{ url_for('views.delete_player', player_id=player.id) }}">
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete"
                            onclick="return confirm('Are you sure you want to delete this entry?')">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>


<div></div>

    <form method="POST">
      <h3 align="Left">Add Season</h3>

      <div class="form-group">
        <label for="Name">Season Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          name="Name"
          placeholder="Enter season name"
        />
      </div>
      <div class="form-group">
        <label for="Name">Season Start Date</label>
        <input
          type="date"
          class="form-control"
          id="Name"
          name="Name"
          placeholder="Enter season name"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}